.stats {
    width: 230px;
    margin: 0 auto;
}

.employee,
.product,
.productbuy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.employee div,
.product div,
.productbuy div {
    width: 174px;
}

.employee button,
.product button {
    border: none;
    background-color: white;
}

.employee__title,
.product__title {
    border: none;
}

.employee__description,
.product__description {
    font-size: 15px;
}

.add__employee,
.add__product {
    display: flex;
    margin-top: 20px;
}